img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

.title {
    text-align: center;
}

.section-excursion {
    display: flex;
    margin: 3%;
}

.description-excursion {
    width: 50%;
    border-top: solid 1px rgba(147, 212, 241, 0.863);
    border-bottom: solid 1px rgba(147, 212, 241, 0.863);
    background-color: rgba(156, 156, 156, 0.082);
    padding: 1.5%;
    font-size: 20px;
}

.link-excursion{
    color: rgb(119, 16, 16);
    padding: 1%;
    padding-left: 2%;
    margin: 0%;
}

.photo-excursion {
    width: 50%;
}

.buttoms-excursion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 2%;
}

.info-excursion {
    font-size: 80%;
    line-height: 135.5%;
    color: rgb(0, 0, 0);
    padding: 1%;
    display: block;
}

.parrafo-excursion {
    padding: 1%;
}

.buttoms-description {
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    padding-top: 3%;
}