<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style3.css}">
</head>

<body>
    <h1 class="title">Excursiones generales</h1>
    <section class="section-excursion">
        <div class="description-excursion">
            <a href="#EXCURSION DE FRANCO">
                <h4 class="link-excursion" >EXCURSION 1</h4>
            </a>
            <h7 class="info-excursion">DÍAS: MARTES, JUEVES, SÁBADOS Y DOMINGOS
                <br class="info-excursion">
                HORARIO: 8:30 A 12:30
                <br class="info-excursion">
                PRECIO: $700
                <br class="info-excursion">
                TARIFAS VÁLIDAS HASTA EL 30/06/2020</h7>
            <p class="parrafo-excursion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas assumenda veritatis ipsum quaerat!
                Molestiae sequi hic corporis nisi pariatur aut suscipit ab quis molestias ipsam cupiditate neque, id ut
                porro.</p>
            <div class="buttoms-description">
                <a href="#EXCURSION DE FRANCO"><button type="button" class="btn btn-link">+ info</button></a>
                <a href="#FORMULARIO-RESERVA"><button type="button" class="btn btn-danger">Reserva</button></a>
            </div>
        </div>

        <div class="photo-excursion">
            <a href="#IMAGEN"><img class="img-excursion" th:src="@{img/potre.jpg}"
                    alt="imagen de la excursion"></a>
        </div>

        <div class="buttoms-excursion">
            <button type="button" class="btn btn-outline-success">Agregar</button>
            <button type="button" class="btn btn-outline-info">Modificar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>