<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>producto-administrador</title>
    <script src="https://kit.fontawesome.com/5b85ec102f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header th:replace="fragments :: header"></header>
    <nav th:replace="fragments :: navbar"></nav>

    <div class="titulo" th:object="${producto}" autocomplete="off" novalidate>
        <input type="hidden" th:field="*{idProducto}" />
        <h1 class="texto-titulo" th:text="${producto.titulo}"></h1>
    </div>
    <div class="contenedor container d-flex">
        <div class="card" style="width: 50rem">
            <div class="card-body">
                <h3 class="parrafo-excursion" th:text="${producto.descripcion}">
                </h3>
                <hr>
                <h3 class="info-excursion" th:text="|Días: ${producto.dias}|"></h3>
                <hr>
                <h3 class="info-excursion" th:text="|Duracion: ${producto.duracion}|"> horas</h3>
                <hr>
                <h3 class="info-excursion" th:text="|Precio: $${producto.precio}|"></h3>
            </div>
        </div>
        <div class="card" style="width: 50rem">
            <img th:src="@{/img/ruta-vinos.jpg}" class="card-img-top" alt="..." />
            <div class="card-body d-flex justify-content-center">
                <!-- Button trigger modal -->
                <a sec:authorize="hasRole('USER')" type="button" class="btn btn-primary"
                    th:href="@{/reservas/crear/__${producto.idProducto}__/__${session.id}__}">
                    Reservar
                </a>
                <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Reservar
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="alert alert-danger d-flex justify-content-center mb-0" role="alert">
                                No estas registrado, debes ingresar para realizar una reserva.
                            </div>
                            <div class="d-flex justify-content-center p-1">
                                <div class="p-1">
                                    <a th:href="@{/agencia/login-agencia}" class="btn btn-outline-dark btn-sm"
                                        type="button" role="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                                            <path
                                                d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                                            <path
                                                d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z" />
                                        </svg>
                                        Agencia
                                    </a>
                                </div>
                                <div class="p-1">
                                    <a th:href="@{/usuarios/login-usuario}" class="btn btn-outline-dark btn-sm"
                                        type="button" role="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                            <path fill-rule="evenodd"
                                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                        </svg>
                                        Usuario
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>