<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>producto-administrador</title>
    <script src="https://kit.fontawesome.com/5b85ec102f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header th:replace="fragments :: header"></header>
    <nav th:replace="fragments :: navbar"></nav>
  
    <div class="titulo"  th:object="${producto}" autocomplete="off" novalidate>
      <input type="hidden" th:field="*{id}"/>
        <h1 class="texto-titulo">Valle de Uco</h1>
    </div>
    <div class="contenedor container d-flex">
        <div class="card" style="width: 50rem">
            <div class="card-body">
                <h2 class="card-title">Ubicacion :</h2>
                <h3>
                    El Valle de Uco es un valle que se encuentra mayoritariamente en la
                    extensión del departamento Tupungato y al norte del río Tunuyán y
                    forma parte de los departamentos de, Tupungato, Tunuyán y San
                    Carlos, en la provincia de Mendoza, Argentina. Cuenta con una
                    extensión total de 17370 km².
                </h3>
                <hr>
                <h2>Dias:</h2>
                <h3>Jueves,Viernes,Sabados y Domingos.</h3>
                <hr>
                <h2>Duracion:</h2>
                <h3>6 Horas.</h3>
                <hr>
                <h2>Precio:</h2>
                <h3>$ 4500.</h3>
            </div>
        </div>
        <div class="card" style="width: 50rem">
            <img th:src="@{/img/ruta-vinos.jpg}" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="card-title">Ruta del vino Valle de Uco</h3>
                <p class="card-text">
                    “Las montañas y los bellos paisajes del Valle de Uco prepararan
                    nuestros sentidos para experimentar los característicos sabores y
                    aromas de estos vinos de altura”. Este Tour de Alta Gama está
                    diseñado para compartir y disfrutar de un excelente día de Vinos.
                    Visitaremos algunas de las más importantes y destacadas bodegas de
                    ésta región. Se propone vivir esta experiencia en grupos reducidos,
                    integrados por viajeros del vino que comparten el mismo interés por
                    esta fascinante bebida. De esta manera se puede apreciar cada
                    detalle de las visitas y como desenlace perfecto a este dinámico
                    tour un verdadero almuerzo gourmet para degustar.
                </p>
                <!-- Button trigger modal -->
                <a type="button" class="btn btn-primary" th:href="@{/reservas/crear/__${producto.id}__/__${session.id}__}">
                    Reservar
                </a>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="card text-center mt-4 mb-4">
        <div class="card-header bg-success">
            <h3>Turismo Receptivo 2021</h3>
        </div>
        <div class="card-body bg-dark">
            <img th:src="@{/img/bander.jpg}" width="140px" height="70px" alt="" />
        </div>
        <div class="card-footer bg-success">
            <div class="iconos">
                <i class="facebook fab fa-facebook-square"></i>
                <i class="twitter fab fa-twitter-square"></i>
                <i class="insta fab fa-instagram-square"></i>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>