<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style3.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

    <header th:replace="fragments :: header"></header>

    <nav th:replace="fragments :: navbar"></nav>

    <h1 class="title" style="margin-top: 40px; margin-bottom: 40px;">Excursiones generales</h1>
    <div sec:authorize="hasRole('ADMIN')" th:if="${productos.isEmpty()}" style="text-align: center; margin-top: 100px; margin-bottom: 100px;">
        <h5>Todavía no hay productos cargados. <a th:href="@{/Producto/crear}">Cargar Producto.</a></h5>
    </div>
    <div sec:authorize="!isAuthenticated()" th:if="${productos.isEmpty()}" style="text-align: center; margin-top: 100px; margin-bottom: 100px;">
        <h2> Lo sentimos... No hay excursiones disponibles.</h2>
    </div>
    <div th:each="producto : ${productos}">
        <section class="section-excursion" th:unless="${productos.isEmpty()}">
            <div class="description-excursion">
                <a th:href="@{Producto/mostrar-producto/__${producto.idProducto}__}">
                    <h2 class="link-excursion" th:text="${producto.titulo}"></h2>
                </a>
                <h5 class="info-excursion" th:text="|Días: ${producto.dias}|">
                </h5>
                <h5 class="info-excursion" th:text="|Duracion: ${producto.duracion} hrs.|">
                </h5>
                <h5 class="info-excursion" th:text="|Precio: $${producto.precio}|">
                </h5>
                <p class="parrafo-excursion" th:text="|Descripcion: ${producto.descripcion}|"></p>
                <div class="buttoms-description">
                    <a th:href="@{Producto/mostrar-producto/__${producto.idProducto}__}"><button type="button"
                            class="btn btn-link">+ info</button></a>
                    <a sec:authorize="hasRole('USER')"
                        th:href="@{/reservas/crear/__${producto.idProducto}__/__${session.id}__}"><button type="button"
                            class="btn btn-danger">Reserva</button></a>
                </div>
            </div>
            <div class="photo-excursion">
                <a href="#IMAGEN"><img class="img-excursion" th:src="@{/img/potre.jpg}"
                        alt="imagen de la excursion" style="margin-left: 20px;"></a>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="buttoms-excursion">
                <a type="button" class="btn btn-outline-warning"
                    th:href="@{/Producto/editar/__${producto.idProducto}__}">Modificar</a>
                <form th:action="@{/Producto/eliminar/__${producto.idProducto}__}" method="post">
                    <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                </form>
            </div>
        </section>
    </div>

    <footer th:replace="fragments :: footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>
