<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{css/style.css}" />
    <title>Turismo Receptivo</title>
</head>

<body>
    <header th:replace="fragments :: header"></header>
    <nav th:replace="fragments :: navbar"></nav>

    <div class="container mt-5 main">
        <h1>Listado de reservas</h1>
        <hr class="mb-5" />
        <div th:if="${reservas.isEmpty()}">
            <h5>Todavía no hay reservas cargadas en la agencia. <a th:href="@{/reservas/crear}">Cargar reserva.</a></h5>
        </div>
        <div th:unless="${reservas.isEmpty()}" class="table-responsive">
            <table class="table table-hover table-sm table-bordered">
                <thead class="table-secondary text-center">
                    <tr>
                        <th class="col-md-4 px-md-2" scope="col">Excursión</th>
                        <th class="col-md-4 px-md-2" scope="col">Fecha/th>
                        <th class="col-md-4 px-md-2" scope="col">Cantidad de pasajeros</th>
                        <th class="col-md-4 px-md-2" scope="col">Usuario</th>
                        <th class="col-md-4 px-md-2" scope="col">Agencia</th>
                        <th class="col-md-4 px-md-2" scope="col">Precio</th>
                        <th class="col-md-4 px-md-2" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reserva : ${reservas}">
                        <td class="col-md-4 px-md-2" th:text="${reserva.producto}"></td>
                        <td class="col-md-4 px-md-2" th:text="${reserva.fechayhorario}"></td>
                        <td class="col-md-4 px-md-2" th:text="${reserva.personas}"></td>
                        <td class="col-md-4 px-md-2" th:text="${reserva.usuario.dni}"></td>
                        <td class="col-md-4 px-md-2" th:text="${reserva.agencia.legajo}"></td>
                        <td class="col-md-4 px-md-2">
                            <span th:text="|${reserva.producto.nombre} ${reserva.producto.precio}|"></span>
                        </td>
                        <td class="col-md-4 px-md-2 d-flex justify-content-around w-100">
                            <a class="btn btn-secondary btn-sm"
                                th:href="@{/reservas/editar/__${reserva.id}__}">Editar</a>
                            <form th:action="@{/reservas/eliminar/__${reserva.id}__}" method="post">
                                <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5b85ec102f.js" crossorigin="anonymous"></script>
</body>

</html>